main {
  flex: 1;  /* como no App.css temos um flex row, aqui é para o main ocupar todo o espaço disponível p ele */
}

main ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
}

@media (max-width: 650px) {
  main ul {
    grid-template-columns: 1fr;
  }
} 
